In [1]:
print ('kali')

kali

In [3]:
x = 3
y = x +123
print (y)

126

In [4]:
x = 3.14234
print (x)

3.14234

In [8]:
i = input("enter string:")
print (i)

12

In [9]:
j = i + 3
print (j)

TypeError: can only concatenate str (not "int") to str

In [10]:
j = int(i) + 3
print (j)

15

In [11]:
j = int(i) + 4.5
print (j)

16.5

In [12]:
j = float(i) + 4.5
print (j)

16.5

In [13]:
print (i,j)

12 16.5

In [14]:
print (i,'kali',j)

12 kali 16.5

In [15]:
i = 3
j = 4.7
print ('i=%d, j=%f'%(i,j))
print ('i=%-6d, j=%-10.2f'%(i,j))
print ('i=%-6d, j=%5.2f, str=%s, hex=%x'%(i,j,'kali',(i+300)))
mystr = 'kali'
print ('i={0}, j={1}, str={2}, hex={3}'.format(i,j,mystr,hex(i+300) ) )

i=3, j=4.700000
i=3     , j=4.70
i=3     , j= 4.70, str=kali, hex=12f
i=3, j=4.7, str=kali, hex=0x12f

In [16]:
x = ['kali','das']
print (x)

['kali', 'das']

In [17]:
print (len(x))

2

In [18]:
x = ['abc', 7.8, -3.4, 23, 'def', ['abc', 123]]
print (x, len(x))

['abc', 7.8, -3.4, 23, 'def', ['abc', 123]] 6

In [19]:
x = x + ['abc', 34.654]
print (x)

['abc', 7.8, -3.4, 23, 'def', ['abc', 123], 'abc', 34.654]

In [20]:
print (len(x))

8

In [21]:
print (7.7999 in x)

False

In [22]:
print ('abc' in x)

True

In [23]:
print ('ab' in x)

False

In [24]:
print (34.654 in x)

True

In [25]:
print (['abc', 123] in x)

True

In [26]:
print (['abc', 122.9999999991] in x)

False

In [27]:
print ([123,'abc'] in x)

False

In [28]:
print (x[0])

abc

In [29]:
print (x[1])

7.8

In [30]:
print (x[-1])

34.654

In [31]:
print (x[-3])

['abc', 123]

In [32]:
x = x - 34.654
print (x)

TypeError: unsupported operand type(s) for -: 'list' and 'float'

In [33]:
x = x - [34.654]
print (x)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [34]:
print (x)
del x[3]
print (x)

['abc', 7.8, -3.4, 23, 'def', ['abc', 123], 'abc', 34.654]
['abc', 7.8, -3.4, 'def', ['abc', 123], 'abc', 34.654]

In [35]:
print (x)
y = x.pop(0)
print (x,y)

['abc', 7.8, -3.4, 'def', ['abc', 123], 'abc', 34.654]
[7.8, -3.4, 'def', ['abc', 123], 'abc', 34.654] abc

In [36]:
x = x + ['abc', 'abc', 'bcd', 'abc' ]
print (x)
x.remove('abc')
print (x)

[7.8, -3.4, 'def', ['abc', 123], 'abc', 34.654, 'abc', 'abc', 'bcd', 'abc']
[7.8, -3.4, 'def', ['abc', 123], 34.654, 'abc', 'abc', 'bcd', 'abc']

In [37]:
x = "kalidas"
print (len(x))

7

In [38]:
print (x[3])

i

In [39]:
print("i" in x)

True

In [40]:
print ("id" in x)

True

In [41]:
print ("di" in x)

False

In [42]:
x = "kalidas"
x.append("abcdef")
print (x)

AttributeError: 'str' object has no attribute 'append'

In [43]:
x = "kalidas"
x = x + "abcdef"
print (x)

kalidasabcdef

In [44]:
x = []
x.append("abcdef")
x.append(12.45)
print (x)

['abcdef', 12.45]

In [45]:
print (13 not in x)

True

In [46]:
print (12.45 in x, "def" in x, "abcdef" in x)

True False True

In [47]:
x = ['kalidas','abcdef',12.45]
y = ['pqrst', 45]
x.extend(y)
print (x, len(x))

['kalidas', 'abcdef', 12.45, 'pqrst', 45] 5

In [48]:
x = ['kalidas','abcdef',12.45]
y = ['pqrst', 45]
x.append(y)
print (x, len(x))

['kalidas', 'abcdef', 12.45, ['pqrst', 45]] 4

In [49]:
x = ['kalidas','abcdef',12.45]
x.append(x)
print (x,len(x))

['kalidas', 'abcdef', 12.45, [...]] 4

In [50]:
print(x[-1][-1][-1][-1][-1][-1])

['kalidas', 'abcdef', 12.45, [...]]

In [51]:
x = ['kalidas','abcdef',12.45, [12, 45.62, 'pqr']]
print (x.index("kalidas"))
print (x.index("abcdef"))
print (x.index(12.45))

0
1
2

In [52]:
x = ['kalidas','abcdef',12.45, [12, 45.62, 'pqr']]
print (x.index("12.45"))

ValueError: '12.45' is not in list

In [53]:
x = ['kalidas','abcdef',12.45, [12, 45.62, 'pqr']]
print (x.index([12, 45.62, 'pqr']))

3

In [54]:
x = ['kalidas','abcdef',12.45]
print (x)
x.reverse()
print (x)
x.sort()
print (x)

['kalidas', 'abcdef', 12.45]
[12.45, 'abcdef', 'kalidas']

TypeError: '<' not supported between instances of 'str' and 'float'

In [55]:
x = ['kalidas','abcdef',"12.45"]
print (x)
x.sort()
print (x)

['kalidas', 'abcdef', '12.45']
['12.45', 'abcdef', 'kalidas']

In [56]:
x = [3,4]
print (x)

[3, 4]

In [57]:
a,b = x
print (a)
print (b)

3
4

In [58]:
a,b = [3,4]
print (a,b)
a,b = [b,a]
print (a,b)

3 4
4 3

In [59]:
x = [3, 4, "kali"]
y = [ "abcd", x]
print (y)
y = [ "abcd",
*x]
print (y)

['abcd', [3, 4, 'kali']]
['abcd', 3, 4, 'kali']

In [60]:
x = "kalidas"
y = list(x)
print (y)

['k', 'a', 'l', 'i', 'd', 'a', 's']

In [61]:
x = [3,4]
y = [3,4]
print (x==y)

True

In [62]:
x = [3,4]
y = [4,1]
print (x < y)

True

In [63]:
x = [3,4]
y = [4,1]
print (x > y)

False

In [64]:
x = [3,4]
y = x
print (x == y)

True

In [65]:
x = [3, 4]


y = [3, 4]
print (x is y)

False

In [66]:
x = [3, 4]
y = x
print (x is y)

True

In [68]:
i = 3
if i == 3 :
    print('yes')

else :
    print('No')
# print ("no")

yes

In [69]:
i = 4
if i == 1 :
    print ("one")
elif i == 2 :
    print ("two")
elif i == 3 :
    print ("three")
else :
    print ("none")

none

In [70]:
i = "abc"
if i == "abc" :
    print ("yes")
else :
    print ("no")

yes

In [71]:
i = "abc"
if i == "abc" :
    print ("yes")

yes

In [72]:
i = "abc"
if i < "bcd" :
    print ("yes")
else :
    print ("no")

yes

In [73]:
x = ["abc", 123, 23.45, -300]
if "abc" in x :
    print ("yes")
else :
    print ("no")

yes

In [74]:
if True :
    print ("true")

true

In [75]:
if 1 < 3 : print ("yes")

yes

In [76]:
print ("yes") if 4 < 3 else print ("no")

no

In [77]:
i = 3
n = 5
while n > 0 :
    print (n)
    n = n - 1
    i = 1
    i = 3

5
4
3
2
1

In [79]:
mysum = 0
n = 10
while n > 0 :
    mysum = mysum + n
    n = n - 1
    #
    #
    #
    print (mysum)

10
19
27
34
40
45
49
52
54
55

In [81]:
i = 3
n = 5
while n > 0 :
    if n == i :
        break

    print (n)
    n = n - 1

5
4

In [82]:
i = 3
n = 5
while n > 0 :
    if n <= i :
        n = n -1 #try without this
        continue
    print (n)
    n = n - 1
print ("this is outside")

5
4
this is outside

In [83]:
x = ["abc", "def", 12.3, 45.21, -800]
while len(x) > 0 :
    print (x)
    del x[0]
print (x)

['abc', 'def', 12.3, 45.21, -800]
['def', 12.3, 45.21, -800]
[12.3, 45.21, -800]
[45.21, -800]
[-800]
[]

In [84]:
x = ["abc", "def", 12.3, 45.21, -800]
for ele in x :
    print (ele)

abc
def
12.3
45.21
-800

In [85]:
x = ["abc", "abc", "def", 12.3, 45.21, 'abcd', -800, 23, 'kalidas']
for ele in x :
    print ('before removal:',ele, x)
    x.remove(ele)
    print ('after removal:',ele, x)
print ('final list:', x)

before removal: abc ['abc', 'abc', 'def', 12.3, 45.21, 'abcd', -800, 23, 'kalidas']
after removal: abc ['abc', 'def', 12.3, 45.21, 'abcd', -800, 23, 'kalidas']
before removal: def ['abc', 'def', 12.3, 45.21, 'abcd', -800, 23, 'kalidas']
after removal: def ['abc', 12.3, 45.21, 'abcd', -800, 23, 'kalidas']
before removal: 45.21 ['abc', 12.3, 45.21, 'abcd', -800, 23, 'kalidas']
after removal: 45.21 ['abc', 12.3, 'abcd', -800, 23, 'kalidas']
before removal: -800 ['abc', 12.3, 'abcd', -800, 23, 'kalidas']
after removal: -800 ['abc', 12.3, 'abcd', 23, 'kalidas']
before removal: kalidas ['abc', 12.3, 'abcd', 23, 'kalidas']
after removal: kalidas ['abc', 12.3, 'abcd', 23]
final list: ['abc', 12.3, 'abcd', 23]

In [86]:
x=[1,234,5,5,65,3,23,3]
pairs_list = []
for elem1 in x :
    for elem2 in x :
        pairs_list.append( (elem1,elem2) )
print (len(pairs_list))

64

In [87]:
x2 = [z for z in x]
print (x2)
print (x2 is x)
print (x2 == x)

[1, 234, 5, 5, 65, 3, 23, 3]
False
True

In [89]:
x = ["abc", "abc", "def", 12.3, 45.21, -800]
pair_list = []
print ([z for z in range(0,len(x))])
for i in range(0, len(x) ) :
    for j in range(i+1, len(x)) :
        pair_list.append( (x[i],x[j]) )
print (len(pair_list))

[0, 1, 2, 3, 4, 5]
15

In [90]:
i = 1
j = 3
if i==1 and j==3 :
    print ("and")
if i==1 or j==4 :
    print ("or")
if i==2 or j==4 :
    print ("or 2")

and
or

In [91]:
i = 1
j = 3
k = 0
print (i or j, j or i, k or i, not k or i, not j or i)
print (i and j, k and i, j and k, not k and i, i and not k)

1 3 1 True 1
3 0 0 1 True

In [92]:
fh = open("kalidas.txt","w")
fh.write("kali")
fh.close()

fh = open("kalidas.txt","r")
x = fh.read()
print (x)

kali

In [93]:
fh = open("kalidas.txt","w")
x = ["abc", 23.4, -800]
fh.write(x)
fh.close()

TypeError: write() argument must be str, not list

In [94]:
import json
x = ["abc", 23.4, -800]
fh = open("kalidas.txt","w")
json.dump(x,fh)
fh.close()

In [95]:
import json
fh = open("kalidas.txt","r")
y = json.load(fh)
fh.close()
print (y)

['abc', 23.4, -800]

In [96]:
import json
fh = open("kalidas.txt","r")
y = json.load(fh)
fh.close()
print (y)

['abc', 23.4, -800]

In [97]:
x = set([1,2,3, 1, 1, 1, "kalidas", "kali"])
print (x)

{1, 2, 3, 'kali', 'kalidas'}

In [98]:
x = {1,2,3,"kali"}
print (x)

{1, 2, 3, 'kali'}

In [99]:
x = {1,2,3,"kali"}
print ('before', x)
x.add('pqrst')
x.add(3.141234)
x.add(1)
x.add(2)

before {1, 2, 3, 'kali'}

In [100]:
x = {1, 2, 3, 3.141234, 'kali', 'pqrst'}
x.remove(1)
print (x)

{2, 3.141234, 3, 'kali', 'pqrst'}

In [101]:
x = {1, 2, 3, 3.141234, 'kali', 'pqrst'}
x.remove(4)
print (x)

KeyError: 4

In [102]:
x = {1, 2, 3, 3.141234, 'kali', 'pqrst'}
del x[0]

TypeError: 'set' object doesn't support item deletion

In [103]:
x = {1, 2, 3, 3.141234, 'kali', 'pqrst'}
x.discard(4)
print (x)

{1, 2, 3.141234, 3, 'kali', 'pqrst'}

In [104]:
x = {1,2,3}
y = {2,3,4}
z = {5,6,7,8}
x2 = x.union({5,"kali",'das'})
print (x.intersection(y))
print (x.difference(y), y.difference(x))
print (x.union(y))
print (x.symmetric_difference(y))
print (x.isdisjoint(y), x.isdisjoint(z))
print (x.issubset(x2))

{2, 3}
{1} {4}
{1, 2, 3, 4}
{1, 4}
False True
True

In [105]:
x = {'abc': 11, 'bcd' : -3.4, 'cdef': "kalidas"}
print (x)

{'abc': 11, 'bcd': -3.4, 'cdef': 'kalidas'}

In [106]:
x = {'abc': 11, 'bcd' : -3.4, 'cdef': "kalidas"}
print (x['abc'], x['cdef'])
key='bcd'
print (x[key])
print (x.get(key))

11 kalidas
-3.4
-3.4

In [107]:
x = {'abc': 11, 'bcd' : -3.4, 'cdef': "kalidas"}
x['abc'] = 34
print (x)

{'abc': 34, 'bcd': -3.4, 'cdef': 'kalidas'}

In [109]:
x = {'abc': 11, 'bcd' : -3.4, 'cdef': "kalidas"}
for ele in x :
    print (ele)

abc
bcd
cdef

In [110]:
x = {'abc': 11, 'bcd' : -3.4, 'cdef': "kalidas"}
for val in x.values() :
    print (val)

11
-3.4
kalidas

In [111]:
for k,v in x.items() :
    print ('key',k,'val',v)

key abc val 11
key bcd val -3.4
key cdef val kalidas

In [112]:
x = {'abc': 11, 'bcd' : -3.4, 'cdef': "kalidas", 'pqrst' : 11, 'abc': 23}
print (len(x), x)

4 {'abc': 23, 'bcd': -3.4, 'cdef': 'kalidas', 'pqrst': 11}

In [113]:
x = {'abc': 11, 'bcd' : -3.4, 'cdef': "kalidas", 'pqrst' : 11, 'abc': 23}
x['another'] = -900
print (x)

{'abc': 23, 'bcd': -3.4, 'cdef': 'kalidas', 'pqrst': 11, 'another': -900}

In [114]:
x = {'abc': 11, 'bcd' : -3.4, 'cdef': "kalidas", 'pqrst' : 11, 'abc': 23}
z = x.pop('bcd')
print (z, x)

-3.4 {'abc': 23, 'cdef': 'kalidas', 'pqrst': 11}

In [115]:
x = {'abc': 11, 'bcd' : -3.4, 'cdef': "kalidas", 'pqrst' : 11, 'abc': 23}
z = x.remove('bcd')
print (z, x)

AttributeError: 'dict' object has no attribute 'remove'

In [116]:
x = {'abc': 11, 'bcd' : -3.4, 'cdef': "kalidas", 'pqrst' : 11, 'abc': 23}
del x['bcd']
print (x)

{'abc': 23, 'cdef': 'kalidas', 'pqrst': 11}

In [117]:
x = {'abc': 11, 'bcd' : -3.4, 'cdef': "kalidas", 'pqrst' : 11, 'abc': 23}
x.clear()
print (x)

{}

In [118]:
x = {'abc': 11, 'bcd' : -3.4, 'cdef': "kalidas", 'pqrst' : 11, 'abc': 23}
y = x
y['another'] = -900
print (x)
print (y)

{'abc': 23, 'bcd': -3.4, 'cdef': 'kalidas', 'pqrst': 11, 'another': -900}
{'abc': 23, 'bcd': -3.4, 'cdef': 'kalidas', 'pqrst': 11, 'another': -900}

In [119]:
x = {'abc': 11, 'bcd' : -3.4, 'cdef': "kalidas", 'pqrst' : 11, 'abc': 23,
'submap1' : {'abc': 11, 'bcd' : -3.4,
'subsubmap': {'abc': 11, 'bcd' : -3.4, 'cdef': "kalidas"} } }
import json
fh = open('kalidas.txt','w')
json.dump(x,fh)
fh.close()
!cat kalidas.txt

{"abc": 23, "bcd": -3.4, "cdef": "kalidas", "pqrst": 11, "submap1": {"abc": 11, "bcd": -3.4, "subsubmap": {"abc": 11, "bcd": -3.4, "cdef": "kalidas"}}}

In [120]:
import json
fh = open('kalidas.txt','r')
x2 = json.load(fh)
fh.close()
print(x2)

{'abc': 23, 'bcd': -3.4, 'cdef': 'kalidas', 'pqrst': 11, 'submap1': {'abc': 11, 'bcd': -3.4, 'subsubmap': {'abc': 11, 'bcd': -3.4, 'cdef': 'kalidas'}}}

In [121]:
x = {'abc': 11, 'bcd' : -3.4, 'cdef': "kalidas", 'pqrst' : 11, 'abc': 23}
y = x.copy()
y['another'] = -900
print (x)
print (y)

{'abc': 23, 'bcd': -3.4, 'cdef': 'kalidas', 'pqrst': 11}
{'abc': 23, 'bcd': -3.4, 'cdef': 'kalidas', 'pqrst': 11, 'another': -900}

In [122]:
x = {'abc': 11, 'bcd' : -3.4, 'cdef': "kalidas", 'pqrst' : 11, 'abc': 23}
y = dict(x)
y['another'] = -900
print (x)
print (y)

{'abc': 23, 'bcd': -3.4, 'cdef': 'kalidas', 'pqrst': 11}
{'abc': 23, 'bcd': -3.4, 'cdef': 'kalidas', 'pqrst': 11, 'another': -900}

In [124]:
def f() :
    print ('kali')
f()

kali

In [125]:
def f() :
    return 1
print (f())

1

In [126]:
def f() :
    return 1
x = f()
print (x+2)

3

In [127]:
def f(a) :
    return 3*a
x = f(2)
print (x + 2)

8

In [129]:
def f(a,b) :
    tmp = a**2 + 2*a*b + b**2
    return tmp
x = f(2,3)
print (x)

25

In [130]:
def f(a) :
    tmp = [1,a,a*a,a*a*a]
    return tmp
x = f(2)
print (x)

[1, 2, 4, 8]

In [131]:
def f(a,b) :
    return a**3, 3* a**2 * b, 3*a * b**2, b**3
x = f(2,3)
print (x)
print (sum(x))

(8, 36, 54, 27)
125

In [132]:
def f(a,b) :
    tmp = a==b
    return tmp
print (f(2,3), f(2,2))

False True

In [133]:
def factorial(n) :
    if n==0 :
        return 1
    return factorial(n-1) * n
x = factorial(5)
print (x)

120

In [134]:
mylist = [1,2,3]
y = max(mylist)
mylist.remove(y)
z = [y] + mylist
print (y,mylist, z)

3 [1, 2] [3, 1, 2]

In [135]:
mylist = [1,2,3, [90000]]
y = max(mylist)

TypeError: '>' not supported between instances of 'list' and 'int'

In [137]:
def mysort(mylist) :
    if len(mylist) == 0 :
        return []
    y = max(mylist)
    mylist.remove(y)
    return [y] + mysort(mylist)
z = mysort([1,3,2,4,7,3,5])
print (z)

[7, 5, 4, 3, 3, 2, 1]

In [138]:
f = lambda x : x+2
print (f(2))

4

In [139]:
f = lambda x : x[0] + x[1]*x[2]
print (f([2,1,3]))

5

In [140]:
f = lambda : True
print (f())

True

In [141]:
f = lambda x : True if x==1 else 45.2
print (f(1))
print (f(2))

True
45.2

In [142]:
f = lambda x : [True, -4.65, 'kali'] if x==1 else 45.2
print (f(1))
print (f(2))

[True, -4.65, 'kali']
45.2

In [143]:
def myfun(a) :
    tmp = lambda x : x*a
    return tmp
doubler = myfun(2)
tripler = myfun(3)
print (doubler(4), tripler(4))

8 12

In [144]:
tmp = [lambda x : x*2, lambda x : x*3, lambda x : x + 1000]
print (tmp[0](4), tmp[1](4) )

8 12

In [145]:
tmp = [lambda x : x*2, lambda x : x*3, lambda x : x + 1000]
for myfun in tmp :
    print (myfun(12.3))

24.6
36.900000000000006
1012.3

In [146]:
x = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
y = list( filter(lambda a : a%2!=0, x) ) #filter-in (as against filter-out intuition)
print (y)

[5, 7, 97, 77, 23, 73, 61]

In [147]:
x = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
y = list( map(lambda a : a*2, x) )
print (y)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [148]:
import functools
x = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
y = functools.reduce( lambda a,b : a + b, x)
print (y)

481

In [149]:
x = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
y = [ a for a in x ]
print (y)

[5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

In [150]:
x = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
y = [ a for a in x if a%2==1]
print (y)

[5, 7, 97, 77, 23, 73, 61]

In [151]:
x = {'abc':1,'bcd':23,'cdef':-100}
y = {a:b for a,b in x.items() if b < 0}
print (y)

{'cdef': -100}

In [152]:
x = {'a.b':1,'a.c':23,'b.a':-100}
y = {a:b for a,b in x.items() if a.startswith('a')}
print (y)

{'a.b': 1, 'a.c': 23}

In [153]:
import math
class myclass :
    def __init__(self, x,y) :
        self.x = x
        self.y = y
    def mydist(self) :
        return math.sqrt(self.x **2 + self.y **2)

In [155]:
a = myclass(1,2)
b = myclass(2,3)
print (a.mydist(), b.mydist())

2.23606797749979 3.605551275463989

In [156]:
class myclass :
    def __init__(self,x,y) :
        self.x = x
        self.y = y
    def __str__(self) :
        return "x={0} y={1}".format(self.x,self.y)
a = myclass(2,3)
print (a)

x=2 y=3

In [157]:
class myclass :
    def __init__(self,x,y) :
        self.x = x
        self.y = y
    def _rep_(self):
        return("umakant")

In [158]:
a = myclass(1,2)
print (a)

<__main__.myclass object at 0x7f41d95a6290>

In [159]:
class myclass :
    def __init__(self,x,y) :
        self.x = x
        self.y = y
    def __repr__(self) :
        return "(x={0} y={1})".format(self.x,self.y)
    def __eq__(self,other):
        return self.x==other.x and self.y==other.y
    def __lt__(self,other) :
        if not self.__eq__(other) and self.x < other.x or self.y < other.y :
            return True
        return False

In [160]:
a = myclass(1,2)
b = myclass(1,2)
print (a is b, a==b, a<b, a>b)

False True False False

In [161]:
a = myclass(1,2)
b = myclass(1,3)
print (a<b)

True

In [162]:
a = myclass(1,2)
b = myclass(2,3)
print (a<b, a>b)

True False

In [163]:
a = myclass(1,3)
b = myclass(1,2)
print (a<b)

False

In [165]:
a = myclass(1,2)
b = myclass(1,3)
c = myclass(2,1)
d = myclass(2,2)
e = myclass(3,1)
a1 = myclass(1,2)
x= [e,d,c,b,a, a1]
print (x)
y = sorted(x)
print (y)

[(x=3 y=1), (x=2 y=2), (x=2 y=1), (x=1 y=3), (x=1 y=2), (x=1 y=2)]
[(x=1 y=2), (x=1 y=2), (x=1 y=3), (x=2 y=1), (x=2 y=2), (x=3 y=1)]

In [166]:
x = "12,34,56"
y = x.split(',')
print (y)

['12', '34', '56']

In [168]:
x = "a.bc.de.efg.h.ijkl.m"

y = x.split('.')
print (y)

['a', 'bc', 'de', 'efg', 'h', 'ijkl', 'm']

In [169]:
x = "a.bc.de.efg.h.ijkl.m"
y = x.split('xyz') #try with ef
print (y)

['a.bc.de.efg.h.ijkl.m']

In [170]:
x = [12, 34, 56]
y = ','.join(x)
print (y)

TypeError: sequence item 0: expected str instance, int found

In [171]:
x = [12, 34, 56]
x2 = ['12','34','56']
y = ','.join(x2)
print (y)

12,34,56

In [172]:
print (','.join( [str(ele) for ele in x] ) )

12,34,56

In [173]:
mystr = 'kalidas'
print (mystr[1:3])
print (mystr[:3])
print (mystr[[0,1]])

al
kal

TypeError: string indices must be integers, not 'list'

In [174]:
mystr = 'kalidas'
myindex_list = [0,1,3,2]
print ([mystr[i] for i in myindex_list])

['k', 'a', 'i', 'l']

In [176]:
text="[1,23,4]"
print( eval(text))
x = eval(text)
print (type(x), x)

[1, 23, 4]
<class 'list'> [1, 23, 4]

In [177]:
text = "x = 3"
eval(text)

SyntaxError: invalid syntax (<string>, line 1)

In [178]:
text = "lambda x : x[0]**2 + x[1]**2"
x = eval(text)
print (x)
print ( x( (1,2) ) )

<function <lambda> at 0x7f41d94351c0>
5

In [179]:
x = 3
pass
y = 4
print (x,y)

3 4

In [180]:
for i in range(4) :
    pass
    print (i)
print ('kali')

0
1
2
3
kali

In [181]:
try :
    x = 1/0
    print (x)
except Exception as e:
    print(e)

division by zero

In [182]:
try :
    x = {'key1':'val1','key2':'val2'}
    del x['key1']
    print (x)
except Exception as e :
    print ('Error', e)

{'key2': 'val2'}

In [183]:
try :
    x = {'key1':'val1','key2':'val2'}
    del x['key3']
    print (x)
except Exception as e :
    print ('Error', e)

Error 'key3'

In [184]:
try :
    x = {'key1':'val1','key2':'val2'}
    del x['key3']
    print (x)
except Exception as e :
    print ('Error', e)

Error 'key3'

In [185]:
try :
    x = {'key1':'val1','key2':'val2'}
    del x['key3']
    print (x)
except Exception as e :
    pass
print ('as if nothing happened')

as if nothing happened

In [186]:
def mydelete(x, key) :
    try :
        del x[key]
    except :
        pass
x = {'key1':'val1','key2':'val2'}
print (x)
mydelete(x,'key1')
print (x)
mydelete(x,'key3')
print (x)

{'key1': 'val1', 'key2': 'val2'}
{'key2': 'val2'}
{'key2': 'val2'}